  <%- comments.each do |comment| -%>
   <% @user = User.find(comment.user_id) %>
    <%- if !comment.parent_id  %>
      <div id="comment-<%= comment.id %>" class="comment parent-comment">
    <%- else %>
      <div id="comment-<%= comment.id %>" class="comment child-comment">
    <% end %>
    <p class="meta">Posted by 
      <%- if @user %>
        <strong><%= @user.name %></strong> 
      <%- else %>
        <strong>Anonymous</strong>
      <%- end %>
      <%= time_ago_in_words(comment.created_at) %> ago
    </p>


      <p><%= comment.body %></p>
      <div class="reply">
        <div class="actions">
          <a class="reply-btn"><strong>Reply</strong></a>

          <%- if is_admin? -%>
              <%= link_to 'Delete', '/delete_comment/' + comment.id.to_s, :method => :delete %>
          <%- end -%>
        </div>
        <div class="form"><%= render :partial => 'comment_form', :locals => { :comment => comment, :post => @post }%></div>
      </div> 
      <%- if comment.has_children? -%>
      	<%= render :partial => 'comment', :locals => { :comments => comment.children }%>
      <%- end -%>
    </div>
  <%- end -%>